
body {
  width: 100%;
  text-align: center;
  background: #F5F7F4;
}
#adobe-dc-view {
  display: inline-block;
  max-width: 1000px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  position: relative;
  -webkit-box-shadow: 1px 1px 10px 1px #dadada;
  -moz-box-shadow: 1px 1px 10px 1px #dadada;
  box-shadow: 1px 1px 10px 1px #dadada;
}
